# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Crystel Montero\Documents\Universidad\2020\II semestre 2020\Bases de datos I\Proyectos\Proyecto1\proyecto1.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
